anyio @ file:///croot/anyio_1706220167567/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/ci_py311/argon2-cffi-bindings_1676823553406/work
astroid==2.12.14
asttokens==2.2.1
async-lru @ file:///croot/async-lru_1699554519285/work
attrs==22.2.0
Babel @ file:///work/ci_py311/babel_1676825020543/work
backcall==0.2.0
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
black==21.12b0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
build==1.0.3
CacheControl==0.13.1
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cleo==2.1.0
click==7.1.2
colorama==0.4.6
comm @ file:///work/ci_py311/comm_1677709131612/work
commonmark==0.9.1
contourpy==1.2.0
coverage==7.2.2
crashtest==0.4.1
cryptography==42.0.2
cycler==0.12.1
debugpy @ file:///croot/debugpy_1690905042057/work
decorator==5.1.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.6
distlib==0.3.8
dulwich==0.21.7
executing==1.2.0
fastjsonschema==2.19.1
filelock==3.13.1
fonttools==4.48.1
idna @ file:///work/ci_py311/idna_1676822698822/work
importlib-metadata==7.0.1
iniconfig==2.0.0
installer==0.7.0
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython==8.12.0
ipywidgets @ file:///croot/ipywidgets_1679394798311/work
isort==5.12.0
jaraco.classes==3.3.1
jedi==0.18.2
jeepney==0.8.0
Jinja2 @ file:///croot/jinja2_1706733616596/work
joblib==1.2.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonlines==4.0.0
jsonschema @ file:///croot/jsonschema_1699041609003/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter @ file:///work/ci_py311/jupyter_1676837039433/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1699282461638/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter_client @ file:///croot/jupyter_client_1699455897726/work
jupyter_core @ file:///croot/jupyter_core_1698937308754/work
jupyter_server @ file:///croot/jupyter_server_1699466442171/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870725608/work
jupyterlab @ file:///croot/jupyterlab_1706802623017/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1700168618520/work
jupyterlab_server @ file:///croot/jupyterlab_server_1699555425460/work
keyring==24.3.0
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.8.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune @ file:///work/ci_py311/mistune_1676823683049/work
more-itertools==10.2.0
msgpack==1.0.7
mypy-extensions==1.0.0
nbclient @ file:///croot/nbclient_1698934205032/work
nbconvert @ file:///croot/nbconvert_1699022732553/work
nbformat @ file:///croot/nbformat_1694616755618/work
nest-asyncio @ file:///work/ci_py311/nest-asyncio_1676823382924/work
notebook @ file:///croot/notebook_1700582094678/work
notebook_shim @ file:///croot/notebook-shim_1699455894279/work
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opt-einsum==3.3.0
ordered-set==4.1.0
overrides @ file:///croot/overrides_1699371140756/work
packaging==23.0
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso==0.8.3
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pkginfo==1.9.6
platformdirs==3.2.0
pluggy==1.0.0
ply==3.11
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
prometheus-client @ file:///work/ci_py311_2/prometheus_client_1679340520168/work
prompt-toolkit==3.0.38
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.9.2
Pygments==2.15.0
pylint==2.15.10
pyparsing==3.1.1
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pyro-api==0.1.2
pyro-ppl==1.8.4
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest==6.2.5
pytest-cov==2.12.1
python-dateutil==2.8.2
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
pytz==2023.3
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qtconsole @ file:///croot/qtconsole_1700160644874/work
QtPy @ file:///croot/qtpy_1700144840038/work
rapidfuzz==3.6.1
referencing @ file:///croot/referencing_1699012038513/work
requests @ file:///croot/requests_1707355572290/work
requests-toolbelt==1.0.0
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich==9.13.0
rpds-py @ file:///croot/rpds-py_1698945930462/work
scikit-learn==1.2.0
scipy==1.10.1
SecretStorage==3.3.3
Send2Trash @ file:///croot/send2trash_1699371139552/work
shellingham==1.5.4
sip @ file:///croot/sip_1698675935381/work
six==1.16.0
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
stack-data==0.6.2
terminado @ file:///work/ci_py311/terminado_1677696151350/work
threadpoolctl==3.1.0
tinycss2 @ file:///work/ci_py311/tinycss2_1676823757641/work
toml==0.10.2
tomli==1.2.3
tomlkit==0.11.7
torch==1.13.1
tornado @ file:///croot/tornado_1696936946304/work
tqdm==4.65.0
traitlets==5.9.0
trove-classifiers==2024.1.31
typer==0.3.2
typing-extensions==3.10.0.2
urllib3 @ file:///croot/urllib3_1707770551213/work
virtualenv==20.25.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client @ file:///work/ci_py311/websocket-client_1676824890004/work
widgetsnbextension @ file:///croot/widgetsnbextension_1679313860248/work
wrapt==1.15.0
zipp==3.17.0
